
.war {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 1;
    overflow: hidden;
    height: 38px;
   /*37.7952755906px*/
    width: 151px;
   /*151.1811023622px*/
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.a1, .b1 {
    flex: 1;
    position: relative;
}
.komemiut {
    background: #184ea4;
}
.komemiut .a1 {
    max-width: 7px;
    background: #92c8e2;
    border-right: 7px solid #f4f4f4;
    border-left: 7px solid #f4f4f4;
}
.komemiut .b1 {
    margin: 0 1.65rem;
    max-width: 7px;
    background: #ab3122;
    position: relative;
}
.sinai {
    background: #e27e33;
}
.sinai .a1 {
    max-width: 16px;
    background: #184ea4;
}
.sinai .b1 {
    border-right: 8px solid #ab3122;
    border-left: 8px solid #ab3122;
    max-width: 24px;
    background: #92c8e2;
    position: relative;
}

.sixday {
    background: #b00;
}
.sixday .a1 {
    max-width: 26px;
    background: #184ea4;
}
.sixday .b1 {
    max-width: 12px;
    background: #92c8e2;
    border-right: 12px solid #f4f4f4;
    border-left: 12px solid #f4f4f4;
    position: relative;
}
.hatasha {
    background: #bd7755;
}
.hatasha .a1 {
    max-width: 10px;
    background: #92c8e2;
    border-right: 10px solid #f4f4f4;
    border-left: 10px solid #f4f4f4;
}
.hatasha .b1 {
    background: #ab3122;
    max-width: 14px;
    margin: 0 1.05rem;
}
.kippur {
    background: #4d81ba;
}
.kippur .a1 {
    border-right: 8px solid #f4f4f4;
    border-left: 8px solid #f4f4f4;
    max-width: 8px;
}
.kippur .b1 {
    background: #ab3122;
    max-width: 44px;
}
.lebanon {
    background: #ab3122;
}
.lebanon .a1 {
    max-width: 16px;
    background: #541a95;
    border-right: 8px solid #f4f4f4;
    border-left: 8px solid #f4f4f4;
}
.lebanon .b1 {
    max-width: 8px;
    background: #ab3122;
    border-right: 8px solid #26972d;
    border-left: 8px solid #26972d;
}
.lebanon2 .a1 {
    background: #e27e33;
}
.lebanon2 .a1::before {
    content: '';
    height: 50px;
    width: 20px;
    background: #184ea4;
    width: 12px;
    position: absolute;
    border-right: 10px solid #f4f4f4;
    border-left: 10px solid #f4f4f4;
}
.lebanon2 .a1:first-child::before {
    left: 0;
}
.lebanon2 .a1:last-child::before {
    right: 0;
}
.lebanon2 .b1 {
    background: #ab3122;
    max-width: 28px;
    border-right: 10px solid #26972d;
    border-left: 10px solid #26972d;
}
