/* .icon.facebook {
    background-image: url(../../assets/svg/footer/facebook-f.svg);
}
.icon.instagram {
    background-image: url(../../assets/svg/footer/instagram.svg);
}
.icon.github{
    background-image: url(../../assets/svg/footer/github-alt.svg);
}
.icon.twitter {
    background-image: url(../../assets/svg/footer/twitter.svg);
}
.icon.linkedin {
    background-image: url(../../assets/svg/footer/linkedin.svg);
} */
