/*
Docco style used in http://jashkenas.github.com/docco/ converted by Simon Madine (@thingsinjars)
*/

.hlja {
  --color0: #fff;
  --color1: #000;
  --color2: #408080;
  --color3: #954121;
  --color4: #40a070;
  --color5: #219161;
  --color6: #19469d;
  --color7: #00f;
  --color8: #458;
  --color9: #000080;
  --color10: #008080;
  --color11: #b68;
  --color12: #990073;
  --color13: #0086b3;
  --color14: #999;

  --codeBgColor: var(--color0);
  --selectorColor: var(--color6);
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #c0a;
  background: var(--codeBgColor);
}

.hljs-comment,
.hljs-quote {
  color: #408080;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-subst {
  color: #954121;
}

.hljs-number {
  color: #806;
}

.hljs-string,
.hljs-doctag {
  color: #c0a;
}

.hljs-selector-id,
.hljs-selector-class,
.hljs-section,
.hljs-type {
  color: #048;
  /* font-weight: 900; */
}

.hljs-params {
  color: #00f;
}

.hljs-title {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #2060fa;
  font-weight: normal;
}

.hljs-variable,
.hljs-template-variable {
  color: #008080;
}

.hljs-regexp,
.hljs-link {
  color: #b68;
}

.hljs-symbol,
.hljs-bullet {
  color: #990073;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3;
}

.hljs-meta {
  color: #999;
  font-weight: bold;
}

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-selector-pseudo {
  color: #808080;
}