body {
    --color1: #048;
    --color2: #2060fa;
    --color3: #c0a;
    --color6: #fff;
    --color7: #daede8;
    --itemBoxShadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    --itemBoxShadowHover: 0 0 1rem rgba(0, 0, 0, 0.25);
    --baseTransition: 125ms all ease-in-out;
}

body {
    --linkColor: var(--color2);
    --linkHoverColor: var(--color3);

    --titleSize: 1.4rem;

    --textColor: var(--color1);
    --itemBackgroundColor: var(--color6);

    --infoBgColor: var(--color7);
}

html, body {
    font-size: 18px;
    line-height: 2rem;
    font-weight: 300;
    margin: 0;
    font-family: 'Glegoo';
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    color: var(--textColor);
    margin: 0;
}

a {
    color: var(--linkColor);
    transition: var(--baseTransition);
}

a:hover {
    color: var(--linkHoverColor);
}

figure {
    margin: 0 auto;
}

header {
    padding: 4rem 0;
}

pre {
    margin: 0;
}

code {
    direction: ltr;
    text-align: left;
    line-height: 1rem;
    cursor: text;
}

.site-title a {
    border: none;
}
.site-title {
    display: inline-block;
    border: 10px double var(--textColor);
    border-left: none;
    border-right: none;
}
.site-title .text {
    text-transform: uppercase;
    border-left: none;
    border-right: none;
    display: inline-block;
    letter-spacing: 0.4rem;
    line-height: 6rem;
    color: var(--textColor);
    font-weight: 100;
    font-size: var(--titleSize);
}
header .intro {
    padding: 0 2rem;
    margin: 4rem auto 0;
}

/* content */
.item .item-source {
    border-top: 1px solid #f0f0f0;
}
.item:hover .item-source {
    border-top: 1px solid transparent;
    box-shadow: var(--itemBoxShadow);
}
.content code {
    height: 150px;
    opacity: 0.4;
}

/* content items */
.item {
    background: var(--itemBackgroundColor);
    border-radius: 6px;
    box-shadow: var(--itemBoxShadow);
    margin: 1rem 1rem 0 0;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: var(--baseTransition);
    width: 25vw;
    vertical-align: top;
}
.item-label {
    /* font-size: 2rem; */
    line-height: 6rem;
    color: var(--textColor);
    margin: 0;
}
.item-meta {
    padding: 6rem 0;
}
.item-source {
    overflow-x: scroll;
}
.item-source,
.item-source pre code  {
    height: 150px;
    font-size: 0.8rem;
}
.item:hover {
    box-shadow: var(--itemBoxShadowHover);
    opacity: 1;
}
.item:hover .label {
    opacity: 1;
}
.item:hover code {
    opacity: 1;
}
.item:hover pre {
    display: block;
}
.item .label {
    font-size: var(--titleSize);
    font-weight: 900;
    letter-spacing: -0.1rem;
    width: 100%;
}

.item .read-more {
    position: absolute;
    top: -45px;
    left: 1rem;
}
.item:hover .read-more {
    top: 1rem;
    vertical-align: top;
}

.item .external-link {
    transform: scale(0.4);
}
.item:hover .external-link {
    transform: scale(1);
}
.external-link {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    display: inline-block;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
}
.external-link:hover {
    background: #f0f0f0;
}

.more-info {
    font-size: 1rem;
    font-weight: 900;
}

.footer-area {
    direction: ltr;
    text-align: center;
    width: 100%;
}

/* container */
.container {
    margin: 0 auto;
}
.container:not(.content) .container-inner {
    max-width: 960px;
    margin: 0 auto;
}

.container.info {
    background: var(--infoBgColor);
    color: var(--textColor);
    margin: 4rem 0 0;
    padding: 4rem 2rem;
    overflow: hidden;
}
.container.info .container-inner {
    margin: 0 auto;
}
.container.info pre {
    margin-bottom: 2rem;
}
.container.info code {
    padding: 1rem 0;
    line-height: 1.4rem;
    font-size: 1rem;
    box-shadow: var(--itemBoxShadow);
    background: #fff;
    transition: var(--baseTransition);
}
.container.info code:hover {
    box-shadow: var(--itemBoxShadowHover);
}
.container.info code {
    border-radius: 6px;
}
.container.info .container-title {
    font-weight: 700;
    letter-spacing: 0.4rem;
    font-size: var(--titleSize);
    text-transform: uppercase;
    margin: 0;
}
.container.info .article-title {
    display: none;
    margin: 3rem auto 1rem;
    font-weight: 100;
}

.container.meta .container-inner {
    padding: 2rem;
}
.container.meta p {
    line-height: 2rem;
}

.container.info .article-header {
    margin: 0 0 4rem;
}

.abstract.even {
    padding: 0 2rem;
    margin: 0 auto;
    max-width: 800px;
}

.container.footer {
    font-size: 0.8rem;
    /* background: red; */
}
.container.footer .container-inner {
    padding: 3rem 0;
}
.container.footer .iconList {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container.footer .iconContainer {
    display: inline-block;
    margin: 0 0.25rem;
    vertical-align: top;
}
.container.footer .icon {
    background-repeat: no-repeat;
    display: inline-block;
    height: 18px;
    vertical-align: top;
    width: 21px;
}
.container.footer .icon img {
    height: 18px;
    transition: var(--baseTransition);
    width: 21px;
}
.container.footer .license {
    margin: 0 0.35rem;
}
.container.footer .license::before {
    content: '(';
}
.container.footer .license::after {
    content: ')';
}
.icon.facebook {
    background-image: url(../assets/svg/facebook-f.svg);
}
.icon.instagram {
    background-image: url(../assets/svg/instagram.svg);
}
.icon.github{
    background-image: url(../assets/svg/github-alt.svg);
}
.icon.twitter {
    background-image: url(../assets/svg/twitter.svg);
}
.icon.linkedin {
    background-image: url(../assets/svg/linkedin.svg);
}

.switch-lang {
    position: fixed;
    right: 1rem;
    top: 0.75rem;
    font-weight: 100;
    font-size: 0.8rem;
    direction: ltr;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    padding: 0.25rem 1rem;
    font-family: "Arial";
}

.sample {
    margin: 2rem 0;
}

.back-to-top {
    margin: 2rem 0 0;
}
